<div class="container mt-2">
    <div *ngIf="(cart$ | async) === null">
      <p>There are no items in your cart</p>
    </div>
  
    <div *ngIf="cart$ | async as cart">
      <div class="pb-5">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <app-cart-details 
              [items]="cart.items"
              (increment)="incrementItemQuantity($event)"
              (decrement)="decrementItemQuantity($event)"
              (remove)="removeItemFromCart($event)">
            </app-cart-details>
          </div>
        </div>
      </div>
    </div>
  </div>
  